<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title2">Actualización Préstamo</h2>
                <form>

                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input disabled ng-model="vmcreditosEditar.Cliente" class="input--style-1" type="text" placeholder="Nombre(s)" name="name">
                                <label style="margin-left: -10px;" for="myInput" class="input-label">Cliente<span class="text-danger"></span></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col">
                            <div class="input-group">
                                <input disabled class="input--style-1" type="text" ng-model="vmcreditosEditar.Prestamo"
                                       onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                       placeholder=" " name="prestamo" data-type="currency">
                                <label style="margin-left: -10px;" for="myInput" class="input-label">Préstamo<span class="text-danger"></span></label>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col">
                            <div class="input-group">
                                <input disabled class="input--style-1" type="text" ng-model="vmcreditosEditar.Deuda"
                                       onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                       placeholder=" " name="deuda" data-type="currency">
                                <label style="margin-left: -10px;" for="myInput" class="input-label">Deuda total<span class="text-danger"></span></label>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col">
                            <div class="input-group">
                                <input id="myInput" class="input--style-1" type="text" ng-model="vmcreditosEditar.Pago"
                                       onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                       placeholder=" " name="Pago" data-type="currency">
                                <label style="margin-left: -10px;" for="myInput" class="input-label">Pago<span class="text-danger">*</span></label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group">
                                <div class="input--style-1" style="width: auto;">
                                    <select ng-click="vmcreditosEditar.selectTipo()" id="selTipo" name="gender">
                                        <option disabled="disabled" selected="selected">Tipo de pago</option>
                                        <option ng-selected="vmcreditosEditar.TipoPago == 'Semanal'">Semanal</option>
                                        <option ng-selected="vmcreditosEditar.TipoPago == 'Quincenal'">Quincenal</option>
                                        <option ng-selected="vmcreditosEditar.TipoPago == 'Mensual'">Mensual</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                Cargar Pagaré:<span class="text-danger"></span>
                            </label>
                            <input type="file" accept="image/*" base-sixty-four-input onload="onLoad" ng-hide="true"
                                   class="form-control" id="pagare" ng-model="vmcreditosEditar.Pagare" />
                            <button class="btn2 btn-md btn-center btn-primary" type="button" sdata-toggle="tooltip"
                                    title="Title" ng-click="vmcreditosEditar.Pagares()">
                                <span class="glyphicon glyphicon-paperclip"></span> Adjuntar Archivo
                            </button>
                            <label>{{vmcreditosEditar.NombreDocPagare}}</label>
                        </div>
                    </div>

                    <section>
                        <h1>
                            Avales
                        </h1>

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">1</span>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">

                                    <input pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+"
                                           oninvalid="setCustomValidity('Solo letras')" ng-model="vmcreditosEditar.Aval1"
                                           class="input--style-1" type="text" placeholder=" "
                                           name="aval1">
                                    <label style="margin-left: -10px;" for="myInput" class="input-label">Nombre Completo<span class="text-danger"></span></label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <input id="number-input" maxlength="10" onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                           ng-model="vmcreditosEditar.Aval1cel" class="input--style-1" type="text"
                                           placeholder=" " name="avalcel1">
                                    <label style="margin-left: -10px;" for="myInput" class="input-label">Celular<span class="text-danger"></span></label>
                                </div>
                            </div>
                        </div>


                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">2</span>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">

                                    <input pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+"
                                           oninvalid="setCustomValidity('Solo letras')" ng-model="vmcreditosEditar.Aval2"
                                           class="input--style-1" type="text" placeholder=" "
                                           name="aval2">
                                    <label style="margin-left: -10px;" for="myInput" class="input-label">Nombre Completo<span class="text-danger"></span></label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <input id="number-input2" maxlength="10" onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                           ng-model="vmcreditosEditar.Aval2cel" class="input--style-1" type="text"
                                           placeholder=" " name="avalcel2">
                                    <label style="margin-left: -10px;" for="myInput" class="input-label">Celular<span class="text-danger"></span></label>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="col-md-12 text-center" style="margin-top: 1rem;">
                        <button class="btn btn--radius btn--green" type="submit" ng-click="vmcreditosEditar.actualizarCredito(vmcreditosEditar.Aval1,vmcreditosEditar.Aval2,vmcreditosEditar.Aval1cel,vmcreditosEditar.Aval2cel,vmcreditosEditar.Pago)">Guardar</button>
                        <button class="btn btn--radius btn--green" type="submit"
                                ng-click="vmcreditosEditar.Volver()">
                            Volver
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var numberInput3 = document.getElementById("myInput");
    var numberInput = document.getElementById("number-input");
    var numberInput2 = document.getElementById("number-input2");
    numberInput.addEventListener("input", function () {
        var value = this.value;
        value = value.replace(/\D/g, ''); // solo permite digitos numericos
        this.value = value;
    });
    numberInput2.addEventListener("input", function () {
        var value = this.value;
        value = value.replace(/\D/g, ''); // solo permite digitos numericos
        this.value = value;
    });
    numberInput3.addEventListener("input", function () {
        var value = this.value;
        value = value.replace(/\D/g, ''); // solo permite digitos numericos
        this.value = value;
    });
</script>